<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<mapper namespace="mybatis">
	<insert id="insertMember" parameterType="member">
		INSERT INTO VALUES(SEQ_MEMBER.NEXTVAL #{userId}, #{userPw}, #{userName}, #{userAddr}, DEFAULT);
	</insert>
</mapper>